# Optional GO2 convex MPC locomotion (https://github.com/elijah-waichong-chan/go2-convex-mpc)
# Requires Python 3.10 (package pins requires-python <3.11). Use the elesim conda env.
#
#   conda activate elesim
#   conda install -c conda-forge pinocchio casadi
#   pip install -e "convex-mpc-unitree-go2 @ git+https://github.com/elijah-waichong-chan/go2-convex-mpc.git"
#
# Then set config.ini [go2_locomotion] mode = convex_mpc
    